<style type="text/css">
    .header {
      background: #8a8a8a;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    table.button.facebook table td {
      background: #3B5998 !important;
      border-color: #3B5998;
    }
    table.button.twitter table td {
      background: #1daced !important;
      border-color: #1daced;
    }
    table.button.google table td {
      background: #DB4A39 !important;
      border-color: #DB4A39;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
  </style>
  
  
  
  <wrapper class="header">
    <container>
      <row class="collapse">
        <columns small="6">
          <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t39.30808-6/263752903_6537299373007437_4718423760975780780_n.png?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=srMTwVQUKk8AX8GwRZt&_nc_ht=scontent.ftun10-1.fna&oh=0d29e746207b087140a0b77b9c32aa9f&oe=61B2DAA7">
        </columns>
      </row>
    </container>
  </wrapper>
  
  <container>
  
    <spacer size="16"></spacer>
  
    <row>
      <columns small="12">
  
        <h1>Dear, <%= name %></h1>
        <p>To ensure that it is your own operation, the authentication identity of the authentication code is obtained through the mail address. Verification Code：</p>
        <p >Do not disclose the authentication code you received to anyone.</p>
      </columns>
    </row>
    <wrapper class="secondary">
  
      <spacer size="16"></spacer>
  
      <row>
        <columns large="6">
          <h5>Connect With Us:</h5>
          <button class="facebook expand" href="http://zurb.com">Facebook</button>
          <button class="twitter expand" href="http://zurb.com">Twitter</button>
          <button class="google expand" href="http://zurb.com">Google+</button>
        </columns>
        <columns large="6">
          <h5>Contact Info:</h5>
          <p>Phone: 0021695417551</p>
          <p>Email: <a href="iyum336@gmail.com">iyum336@gmail.com</a></p>
        </columns>
      </row>
    </wrapper>
  </container>